In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from smooth.adam_general.core.adam import ADAM

import numpy as np
import pandas as pd

In [3]:
from typing import List, Union, Dict, Any
from smooth.adam_general._adam_general import adam_fitter, adam_forecaster
from numpy.linalg import eigvals
import nlopt

In [4]:
#### Global level and ETS(A,N,N) ####
np.random.seed(33)  # For reproducibility
n_points = 100
time_series = np.random.normal(100, 10, n_points)  # Random errors
ts_df = pd.DataFrame({'value': time_series}, index=pd.date_range(start='2023-01-01', periods=n_points, freq='ME'))

In [5]:

# we have initial equal to optimal by default
model = 'ANN'
lags = [12]
adam = ADAM(model, lags, initial='optimal')
adam.fit(ts_df)
#print(adam.adam_created)
fc = adam.predict(h = 12)
fc

                 mean  lower_0.025  upper_0.975
2031-05-31  99.619575    79.097254   120.141895
2031-06-30  99.619575    79.097254   120.141895
2031-07-31  99.619575    79.097254   120.141895
2031-08-31  99.619575    79.097254   120.141895
2031-09-30  99.619575    79.097254   120.141895
2031-10-31  99.619575    79.097254   120.141895
2031-11-30  99.619575    79.097254   120.141895
2031-12-31  99.619575    79.097254   120.141895
2032-01-31  99.619575    79.097254   120.141895
2032-02-29  99.619575    79.097254   120.141895
2032-03-31  99.619575    79.097254   120.141895
2032-04-30  99.619575    79.097254   120.141895

In [6]:
initial = 'optimal'
model = 'ANN'
lags = [12]
adam = ADAM(model, lags, initial = initial)
adam.fit(ts_df)
#print(adam.adam_created)
fc = adam.predict(h = 12)
fc

                 mean  lower_0.025  upper_0.975
2031-05-31  99.619575    79.097254   120.141895
2031-06-30  99.619575    79.097254   120.141895
2031-07-31  99.619575    79.097254   120.141895
2031-08-31  99.619575    79.097254   120.141895
2031-09-30  99.619575    79.097254   120.141895
2031-10-31  99.619575    79.097254   120.141895
2031-11-30  99.619575    79.097254   120.141895
2031-12-31  99.619575    79.097254   120.141895
2032-01-31  99.619575    79.097254   120.141895
2032-02-29  99.619575    79.097254   120.141895
2032-03-31  99.619575    79.097254   120.141895
2032-04-30  99.619575    79.097254   120.141895

In [7]:
adam.initial

'optimal'

In [8]:
initial = 'backcasting'
model = 'ANN'
lags = [12]
adam = ADAM(model, lags, initial = initial, n_iterations=1)
adam.fit(ts_df)
#print(adam.adam_created)
fc = adam.predict(h = 12)
fc

                  mean  lower_0.025  upper_0.975
2031-05-31  101.763416    81.267090   122.259742
2031-06-30  101.763416    81.255594   122.271237
2031-07-31  101.763416    81.244106   122.282726
2031-08-31  101.763416    81.232624   122.294208
2031-09-30  101.763416    81.221148   122.305684
2031-10-31  101.763416    81.209678   122.317154
2031-11-30  101.763416    81.198215   122.328617
2031-12-31  101.763416    81.186759   122.340073
2032-01-31  101.763416    81.175309   122.351523
2032-02-29  101.763416    81.163865   122.362967
2032-03-31  101.763416    81.152427   122.374405
2032-04-30  101.763416    81.140996   122.385836

In [9]:
initial = 'backcasting'
model = 'ANN'
lags = [12]
adam = ADAM(model, lags, initial = initial, n_iterations=2)
adam.fit(ts_df)
#print(adam.adam_created)
fc = adam.predict(h = 12)
fc

                  mean  lower_0.025  upper_0.975
2031-05-31  101.130847    80.653770   121.607924
2031-06-30  101.130847    80.647371   121.614322
2031-07-31  101.130847    80.640975   121.620718
2031-08-31  101.130847    80.634581   121.627113
2031-09-30  101.130847    80.628189   121.633505
2031-10-31  101.130847    80.621799   121.639895
2031-11-30  101.130847    80.615411   121.646283
2031-12-31  101.130847    80.609025   121.652669
2032-01-31  101.130847    80.602641   121.659053
2032-02-29  101.130847    80.596259   121.665435
2032-03-31  101.130847    80.589878   121.671815
2032-04-30  101.130847    80.583500   121.678194

In [10]:
adam.n_iterations

2