In [1]:
from core.adam import Adam

In [2]:
import pandas as pd
import numpy as np
from core.checker import parameters_checker
from typing import List, Union, Dict, Any
from smooth.adam_general._adam_general import adam_fitter, adam_forecaster
from core.utils.utils import measurement_inverter, scaler, calculate_likelihood, calculate_entropy, calculate_multistep_loss
from numpy.linalg import eigvals
import nlopt

In [3]:
from core.estimator import estimator, selector
from core.creator import creator, initialiser, architector, filler
from core.utils.ic import ic_function

from smooth.adam_general._adam_general import adam_fitter, adam_forecaster

import warnings

In [4]:
# Generate random monthly time series data
np.random.seed(41)  # For reproducibility
n_points = 24  # 2 years of monthly data
time_series = np.random.randint(1, 100, size=n_points).cumsum()  # Random walk with strictly positive integers
dates = pd.date_range(start='2023-01-01', periods=n_points, freq='M')  # Monthly frequency
ts_df = pd.DataFrame({'value': time_series}, index=dates)

/tmp/ipykernel_127804/4282208315.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start='2023-01-01', periods=n_points, freq='M')  # Monthly frequency

In [5]:

multisteps = False,
lb = None,
ub = None,
maxtime = None,
print_level = 1, # 1 or 0
maxeval = None,
h = 12



# Assume that the model is not provided
# these will be default arguments
profiles_recent_provided = False
profiles_recent_table = None

In [6]:
np.random.seed(65)  # For reproducibility
n_points = 39  # 2 years of monthly data
time_series = np.random.randint(1, 100, size=n_points).cumsum()  # Random walk with strictly positive integers
dates = pd.date_range(start='2023-01-01', periods=n_points, freq='M')  # Monthly frequency
ts_df = pd.DataFrame({'value': time_series}, index=dates)

/tmp/ipykernel_127804/1138340368.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start='2023-01-01', periods=n_points, freq='M')  # Monthly frequency

In [7]:
import time

start_time = time.time()

model = "ANN"
lags = [12]

np.random.seed(33)  # For reproducibility
n_points = 39  # 2 years of monthly data
time_series = np.random.randint(1, 100, size=n_points).cumsum()  # Random walk with strictly positive integers
dates = pd.date_range(start='2023-01-01', periods=n_points, freq='ME')  # Monthly frequency
ts_df = pd.DataFrame({'value': time_series}, index=dates)

adam = Adam(model, lags)
adam.fit(ts_df, h = h)
#print(adam.adam_created)
fc = adam.predict()
#print(adam.adam_created)
execution_time = time.time() - start_time
print(f"Execution time: {execution_time:.4f} seconds")
fc

Execution time: 0.0283 seconds

              mean  lower_0.025  upper_0.975
2026-05-31  1796.0          NaN          NaN
2026-06-30  1796.0          NaN          NaN
2026-07-31  1796.0          NaN          NaN
2026-08-31  1796.0          NaN          NaN
2026-09-30  1796.0          NaN          NaN
2026-10-31  1796.0          NaN          NaN
2026-11-30  1796.0          NaN          NaN
2026-12-31  1796.0          NaN          NaN
2027-01-31  1796.0          NaN          NaN
2027-02-28  1796.0          NaN          NaN
2027-03-31  1796.0          NaN          NaN
2027-04-30  1796.0          NaN          NaN

In [8]:
# Load the AirPassengers dataset from Python
import pandas as pd
import numpy as np
# Create the AirPassengers dataset manually
data = [
    112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118,
    115, 126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140,
    145, 150, 178, 163, 172, 178, 199, 199, 184, 162, 146, 166,
    171, 180, 193, 181, 183, 218, 230, 242, 209, 191, 172, 194,
    196, 196, 236, 235, 229, 243, 264, 272, 237, 211, 180, 201,
    204, 188, 235, 227, 234, 264, 302, 293, 259, 229, 203, 229,
    242, 233, 267, 269, 270, 315, 364, 347, 312, 274, 237, 278,
    284, 277, 317, 313, 318, 374, 413, 405, 355, 306, 271, 306,
    315, 301, 356, 348, 355, 422, 465, 467, 404, 347, 305, 336,
    340, 318, 362, 348, 363, 435, 491, 505, 404, 359, 310, 337,
    360, 342, 406, 396, 420, 472, 548, 559, 463, 407, 362, 405,
    417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390, 432
]

# Create a proper datetime index
dates = pd.date_range(start='1949-01-01', periods=len(data), freq='MS')

# Create a pandas Series with the data
air_passengers_series = pd.Series(data, index=dates, name='AirPassengers')

# Create a DataFrame with the time series
ts_df = pd.DataFrame({'value': air_passengers_series})

print("AirPassengers dataset loaded:")
print(ts_df.head())

AirPassengers dataset loaded:
            value
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121

In [9]:
adam.results[8]

AttributeError: 'Adam' object has no attribute 'results'

In [27]:
adam.model_type_dict

{'ets_model': True,
 'arima_model': False,
 'xreg_model': False,
 'model': 'ZXZ',
 'error_type': 'M',
 'trend_type': 'A',
 'season_type': 'A',
 'damped': True,
 'allow_multiplicative': True,
 'model_is_trendy': True,
 'model_is_seasonal': True,
 'model_do': 'select',
 'models_pool': ['AAA',
  'AAN',
  'AAdA',
  'AAdN',
  'ANA',
  'ANN',
  'MAA',
  'MAN',
  'MAdA',
  'MAdN',
  'MNA',
  'MNN']}

In [11]:
adam.results[adam.best_id]

{'adam_estimated': {'B': array([3.95559632e-01, 9.84843029e-03, 4.51465919e-01, 1.01848689e+02,
         1.52247310e+00, 9.14465240e-01, 9.67506722e-01, 1.08718707e+00,
         1.04268957e+00, 9.83558273e-01, 1.08465566e+00, 1.17993944e+00,
         1.16163164e+00, 1.05256863e+00, 9.07611981e-01, 7.87233646e-01]),
  'CF_value': 528.1407298160659,
  'n_param_estimated': 16,
  'log_lik_adam_value': {'value': np.float64(-528.1407298160659),
   'nobs': 144,
   'df': 17},
  'arima_polynomials': None},
 'IC': np.float64(1095.1386024892747),
 'model_type_dict': {'ets_model': True,
  'arima_model': False,
  'xreg_model': False,
  'model': 'ZXZ',
  'error_type': 'M',
  'trend_type': 'A',
  'season_type': 'M',
  'damped': True,
  'allow_multiplicative': True,
  'model_is_trendy': True,
  'model_is_seasonal': True,
  'model_do': 'select',
  'models_pool': ['AAA',
   'AAM',
   'AAN',
   'AAdA',
   'AAdM',
   'AAdN',
   'ANA',
   'ANM',
   'ANN',
   'MAA',
   'MAM',
   'MAN',
   'MAdA',
   'MAdM',
   'MAdN',
   'MNA',
   'MNM',
   'MNN']},
 'phi_dict': {'phi': 1, 'phi_estimate': False},
 'model': 'MAM'}

In [10]:
import time

start_time = time.time()

model = "ZXZ"
lags = [12]


adam = Adam(model, lags, silent = False)
adam.fit(ts_df, h = h)
fc = adam.predict()
execution_time = time.time() - start_time
print(f"Execution time: {execution_time:.4f} seconds")
fc

Estimation progress:   11172228333944%CFValue is NaN
505661677278838994100%... Done!
Execution time: 4.0297 seconds

                  mean  lower_0.025  upper_0.975
1961-01-01  447.564985          NaN          NaN
1961-02-01  422.890886          NaN          NaN
1961-03-01  478.838221          NaN          NaN
1961-04-01  502.333199          NaN          NaN
1961-05-01  516.013538          NaN          NaN
1961-06-01  589.466982          NaN          NaN
1961-07-01  679.006938          NaN          NaN
1961-08-01  669.731313          NaN          NaN
1961-09-01  555.658143          NaN          NaN
1961-10-01  492.362263          NaN          NaN
1961-11-01  420.350060          NaN          NaN
1961-12-01  465.267564          NaN          NaN

In [11]:
adam.prepared_model

{'model': 'ZXZ',
 'time_elapsed': None,
 'holdout': False,
 'y_fitted': 1949-01-01    112.459206
 1949-02-01    114.031558
 1949-03-01    127.518497
 1949-04-01    127.084919
 1949-05-01    129.353878
                  ...
 1960-08-01    609.135209
 1960-09-01    508.366164
 1960-10-01    452.004161
 1960-11-01    408.725540
 1960-12-01    443.080402
 Freq: MS, Length: 144, dtype: float64,
 'residuals': 1949-01-01   -0.004083
 1949-02-01    0.034801
 1949-03-01    0.035144
 1949-04-01    0.015069
 1949-05-01   -0.064582
                 ...
 1960-08-01   -0.005147
 1960-09-01   -0.000720
 1960-10-01    0.019902
 1960-11-01   -0.045814
 1960-12-01   -0.025008
 Freq: MS, Length: 144, dtype: float64,
 'states': array([[ 1.06790673e+02,  1.08016917e+02,  1.09243160e+02,
          1.10469404e+02,  1.11695647e+02,  1.12921891e+02,
          1.14148134e+02,  1.15374378e+02,  1.16600621e+02,
          1.17826865e+02,  1.19053108e+02,  1.20279352e+02,
          1.22611736e+02,  1.24873643e+02,  1.27289282e+02,
          1.29055758e+02,  1.28145873e+02,  1.27502199e+02,
          1.27551706e+02,  1.27879089e+02,  1.29298407e+02,
          1.29392374e+02,  1.30360931e+02,  1.30752566e+02,
          1.30241060e+02,  1.31739974e+02,  1.33745797e+02,
          1.34916843e+02,  1.35020942e+02,  1.37530781e+02,
          1.41509123e+02,  1.44572214e+02,  1.47231637e+02,
          1.47147608e+02,  1.46274298e+02,  1.48841179e+02,
          1.52714450e+02,  1.54434733e+02,  1.59636261e+02,
          1.61484359e+02,  1.67852614e+02,  1.68573949e+02,
          1.70137231e+02,  1.72094514e+02,  1.73458039e+02,
          1.75226190e+02,  1.77092568e+02,  1.77579078e+02,
          1.78938033e+02,  1.81436339e+02,  1.80733626e+02,
          1.81452313e+02,  1.81808591e+02,  1.89829984e+02,
          1.93900791e+02,  2.00593034e+02,  2.01255128e+02,
          2.03238952e+02,  2.04412297e+02,  2.05922447e+02,
          2.06606821e+02,  2.05398694e+02,  2.11344909e+02,
          2.18862047e+02,  2.22495608e+02,  2.21811327e+02,
          2.24689813e+02,  2.27535682e+02,  2.29301720e+02,
          2.29032273e+02,  2.25973027e+02,  2.23780588e+02,
          2.22548547e+02,  2.17098732e+02,  2.16364045e+02,
          2.15927290e+02,  2.19929826e+02,  2.26928065e+02,
          2.37373667e+02,  2.41510014e+02,  2.45322448e+02,
          2.47050339e+02,  2.48833517e+02,  2.50885396e+02,
          2.54698342e+02,  2.57947836e+02,  2.56776152e+02,
          2.58370736e+02,  2.59024128e+02,  2.65245233e+02,
          2.75511053e+02,  2.82198230e+02,  2.87937513e+02,
          2.90586201e+02,  2.90138744e+02,  2.94232198e+02,
          2.96449502e+02,  2.99461025e+02,  3.02959497e+02,
          3.04409839e+02,  3.06687780e+02,  3.12876276e+02,
          3.17572150e+02,  3.25176532e+02,  3.28443814e+02,
          3.28684267e+02,  3.29237527e+02,  3.29122812e+02,
          3.30368523e+02,  3.30230969e+02,  3.34934280e+02,
          3.37774995e+02,  3.40999748e+02,  3.47890300e+02,
          3.55316818e+02,  3.65475818e+02,  3.70538655e+02,
          3.72281549e+02,  3.71869730e+02,  3.70446854e+02,
          3.68358586e+02,  3.64624037e+02,  3.60134233e+02,
          3.55897664e+02,  3.55615711e+02,  3.58485221e+02,
          3.65958576e+02,  3.77348811e+02,  3.77273578e+02,
          3.80778880e+02,  3.81445887e+02,  3.80497473e+02,
          3.84175642e+02,  3.86981658e+02,  3.93118392e+02,
          3.97642501e+02,  4.03294739e+02,  4.03034516e+02,
          4.09991175e+02,  4.17387059e+02,  4.24204171e+02,
          4.27337927e+02,  4.30879491e+02,  4.37443907e+02,
          4.40431378e+02,  4.41282606e+02,  4.34074869e+02,
          4.43398006e+02,  4.48455855e+02,  4.55032831e+02,
          4.64641054e+02,  4.66704288e+02,  4.69476310e+02,
          4.74695111e+02,  4.72707835e+02,  4.72627885e+02],
        [ 1.22624348e+00,  1.22624348e+00,  1.22624348e+00,
          1.22624348e+00,  1.22624348e+00,  1.22624348e+00,
          1.22624348e+00,  1.22624348e+00,  1.22624348e+00,
          1.22624348e+00,  1.22624348e+00,  1.22624348e+00,
          1.22398197e+00,  1.24352589e+00,  1.26559654e+00,
          1.27502800e+00,  1.23388654e+00,  1.19853245e+00,
          1.17689654e+00,  1.16090037e+00,  1.16576633e+00,
          1.14558457e+00,  1.14225117e+00,  1.12811721e+00,
          1.09724345e+00,  1.10480682e+00,  1.12177277e+00,
          1.12270057e+00,  1.10352051e+00,  1.13000120e+00,
          1.18363488e+00,  1.21902466e+00,  1.24614707e+00,
          1.22110012e+00,  1.18166280e+00,  1.20774619e+00,
          1.25793747e+00,  1.26664334e+00,  1.34073642e+00,
          1.35028994e+00,  1.44477719e+00,  1.43115492e+00,
          1.43364285e+00,  1.44350289e+00,  1.44199692e+00,
          1.44813833e+00,  1.45601371e+00,  1.43775815e+00,
          1.43627430e+00,  1.45627215e+00,  1.41561890e+00,
          1.40249580e+00,  1.38279573e+00,  1.50779917e+00,
          1.55606009e+00,  1.65277336e+00,  1.63411907e+00,
          1.64070395e+00,  1.63190368e+00,  1.62961108e+00,
          1.61181245e+00,  1.55871358e+00,  1.64132933e+00,
          1.75196961e+00,  1.78739959e+00,  1.74085835e+00,
          1.76227966e+00,  1.78268342e+00,  1.78236999e+00,
          1.74373469e+00,  1.65329553e+00,  1.58088115e+00,
          1.52791440e+00,  1.39652517e+00,  1.35639487e+00,
          1.32263022e+00,  1.37309231e+00,  1.47901268e+00,
          1.64785173e+00,  1.69470958e+00,  1.73458591e+00,
          1.73445985e+00,  1.73537719e+00,  1.74133686e+00,
          1.78034483e+00,  1.80800861e+00,  1.75190161e+00,
          1.74893935e+00,  1.72831042e+00,  1.81290882e+00,
          1.97207542e+00,  2.06085983e+00,  2.13012378e+00,
          2.13988825e+00,  2.09116907e+00,  2.12887169e+00,
          2.13053685e+00,  2.14712564e+00,  2.17257120e+00,
          2.15897179e+00,  2.16121195e+00,  2.23704489e+00,
          2.28334413e+00,  2.38353819e+00,  2.40017892e+00,
          2.35951171e+00,  2.32550037e+00,  2.27955161e+00,
          2.26008460e+00,  2.21493755e+00,  2.26179311e+00,
          2.27269409e+00,  2.29062117e+00,  2.37723693e+00,
          2.47231387e+00,  2.61705261e+00,  2.66310623e+00,
          2.64577881e+00,  2.58820487e+00,  2.51267704e+00,
          2.42604218e+00,  2.31003951e+00,  2.18199983e+00,
          2.06113948e+00,  2.01701953e+00,  2.03307176e+00,
          2.13551117e+00,  2.30977575e+00,  2.26486651e+00,
          2.28822367e+00,  2.25769649e+00,  2.19732608e+00,
          2.22521005e+00,  2.23614650e+00,  2.30959377e+00,
          2.35129264e+00,  2.41344878e+00,  2.36310408e+00,
          2.44959979e+00,  2.54273731e+00,  2.62322292e+00,
          2.63283616e+00,  2.64994731e+00,  2.72365595e+00,
          2.72862355e+00,  2.69327256e+00,  2.50683857e+00,
          2.63518809e+00,  2.68080629e+00,  2.75417038e+00,
          2.88323080e+00,  2.86779041e+00,  2.86598712e+00,
          2.91029013e+00,  2.81806996e+00,  2.76350082e+00],
        [-1.02726326e+01, -9.80415990e+00,  1.40132846e+00,
         -1.46995981e+00, -9.76908299e-01,  1.27989778e+01,
          2.36924949e+01,  2.25194610e+01,  5.97196551e+00,
         -7.36621572e+00, -2.58611052e+01, -1.06332461e+01,
         -1.06116867e+01, -6.87406593e+00,  4.71024009e+00,
         -5.59621378e-02, -7.14498255e+00,  7.49856647e+00,
          2.04487621e+01,  2.01212574e+01,  6.70148728e+00,
         -1.03919374e+01, -2.63608593e+01, -1.27522599e+01,
         -1.52403918e+01, -5.74013799e+00,  7.25383559e+00,
          8.31370880e-02, -1.00205263e+01,  1.14686460e+01,
          2.84897157e+01,  2.54270196e+01,  1.07677756e+01,
         -1.41470655e+01, -3.22734436e+01, -8.84174428e+00,
         -7.71553653e+00, -4.43492156e+00,  1.83621345e+01,
          1.51543408e+00,  4.14534030e+00,  9.42634642e+00,
          2.88627153e+01,  2.69052724e+01,  1.05419940e+01,
         -1.32263226e+01, -3.10927387e+01, -1.15786828e+01,
         -7.93800079e+00, -1.43677245e+00,  1.22672539e+01,
         -4.52028346e-01,  1.19183598e+00,  2.81673091e+01,
          3.60981640e+01,  4.14048720e+01,  7.74527614e+00,
         -1.22390945e+01, -3.24121066e+01, -1.19223974e+01,
         -1.06064352e+01, -9.39754463e+00,  2.46533021e+01,
          1.61355574e+01,  6.50362515e+00,  2.11896808e+01,
          3.93097227e+01,  4.44638762e+01,  7.69828650e+00,
         -1.80314365e+01, -4.59710683e+01, -2.27790204e+01,
         -1.85474003e+01, -2.90958870e+01,  1.86368243e+01,
          1.10734413e+01,  1.40690812e+01,  3.70696411e+01,
          6.46226766e+01,  5.14889717e+01,  1.36766884e+01,
         -1.80503364e+01, -4.58335366e+01, -2.18855252e+01,
         -1.26991863e+01, -2.49484346e+01,  1.02250630e+01,
          1.06293284e+01,  1.09763186e+01,  4.97529354e+01,
          8.84855009e+01,  6.47998476e+01,  2.40609876e+01,
         -1.65864125e+01, -5.31376895e+01, -1.62330147e+01,
         -1.24495386e+01, -2.24613845e+01,  1.40399525e+01,
          8.59045531e+00,  1.13121716e+01,  6.11220816e+01,
          9.54268479e+01,  7.98212989e+01,  2.65558254e+01,
         -2.26833861e+01, -5.82367909e+01, -2.31218172e+01,
         -1.53681017e+01, -2.92299915e+01,  2.10647055e+01,
          1.02247692e+01,  1.39998637e+01,  7.41078247e+01,
          1.09681123e+02,  1.01521047e+02,  3.34603478e+01,
         -2.52811736e+01, -6.68684829e+01, -3.44452187e+01,
         -2.83567099e+01, -4.66215256e+01,  1.86853958e+00,
         -7.89504649e+00,  7.38524420e+00,  7.65144312e+01,
          1.25039206e+02,  1.27647415e+02,  2.67273946e+01,
         -2.17793859e+01, -7.14452262e+01, -4.34961660e+01,
         -2.41762459e+01, -4.49818943e+01,  1.28800176e+01,
         -1.64340360e+00,  1.67039148e+01,  6.89665741e+01,
          1.38006952e+02,  1.41610924e+02,  3.87940857e+01,
         -2.03381356e+01, -6.88798614e+01, -3.24455027e+01,
         -2.34314859e+01, -5.02818404e+01, -1.50708321e+01,
          1.75992144e+01,  2.35431577e+01,  7.99655805e+01,
          1.57356151e+02,  1.39296047e+02,  3.85237292e+01,
         -1.36960703e+01, -8.27058383e+01, -4.06267029e+01]]),
 'profiles_recent_table': array([[505.7898944 , 106.79067331, 106.79067331, 106.79067331,
         106.79067331, 106.79067331, 106.79067331, 106.79067331,
         106.79067331, 106.79067331, 106.79067331, 106.79067331],
        [  2.76350082,   1.22624348,   1.22624348,   1.22624348,
           1.22624348,   1.22624348,   1.22624348,   1.22624348,
           1.22624348,   1.22624348,   1.22624348,   1.22624348],
        [-23.43148595, -50.28184037, -15.07083207,  17.59921438,
          23.54315768,  79.96558049, 157.35615113, 139.29604676,
          38.52372924, -13.69607026, -82.70583831, -40.62670292]]),
 'persistence': array([[0.26154471],
        [0.00492483],
        [0.73834865]]),
 'transition': array([[1., 1., 0.],
        [0., 1., 0.],
        [0., 0., 1.]]),
 'measurement': array([[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]),
 'phi': 1,
 'initial': {'level': np.float64(106.79067330695071),
  'trend': np.float64(1.226243481566077),
  'seasonal': array([-10.27263261,  -9.8041599 ,   1.40132846,  -1.46995981,
          -0.9769083 ,  12.79897778,  23.69249486,  22.51946102,
           5.97196551,  -7.36621572, -25.86110521, -10.63324608])},
 'initial_type': 'optimal',
 'initial_estimated': [True, True, 'seasonal'],
 'orders': None,
 'arma': None,
 'constant': np.float64(-25.861105209333093),
 'n_param': [[16, 1, np.int64(17)], [4, 4]],
 'occurrence': None,
 'formula': None,
 'regressors': None,
 'loss': 'likelihood',
 'loss_value': 551.7980737270472,
 'log_lik': {'value': np.float64(-551.7980737270472), 'nobs': 144, 'df': 17},
 'distribution': 'dgamma',
 'scale': np.float64(0.0019448610555429244),
 'other': {},
 'B': array([ 2.61544709e-01,  4.92483366e-03,  7.38348649e-01,  1.06790673e+02,
         1.22624348e+00, -1.02726326e+01, -9.80415990e+00,  1.40132846e+00,
        -1.46995981e+00, -9.76908299e-01,  1.27989778e+01,  2.36924949e+01,
         2.25194610e+01,  5.97196551e+00, -7.36621572e+00, -2.58611052e+01]),
 'lags': [1, 1, 12],
 'lags_all': [1, 1, 12],
 'FI': None}

In [15]:
model = "MAM"
lags = [12]
adam = Adam(model, lags)
adam.fit(ts_df, h = h)
adam.predict()

                  mean  lower_0.025  upper_0.975
1961-01-01  447.564985          NaN          NaN
1961-02-01  422.890886          NaN          NaN
1961-03-01  478.838221          NaN          NaN
1961-04-01  502.333199          NaN          NaN
1961-05-01  516.013538          NaN          NaN
1961-06-01  589.466982          NaN          NaN
1961-07-01  679.006938          NaN          NaN
1961-08-01  669.731313          NaN          NaN
1961-09-01  555.658143          NaN          NaN
1961-10-01  492.362263          NaN          NaN
1961-11-01  420.350060          NaN          NaN
1961-12-01  465.267564          NaN          NaN

In [9]:
model = "AAN"
lags = [12]
adam = Adam(model, lags)
adam.fit(ts_df, h = h)
adam.predict()

                  mean  lower_0.025  upper_0.975
1961-01-01  480.956403          NaN          NaN
1961-02-01  483.601713          NaN          NaN
1961-03-01  486.247023          NaN          NaN
1961-04-01  488.892333          NaN          NaN
1961-05-01  491.537643          NaN          NaN
1961-06-01  494.182954          NaN          NaN
1961-07-01  496.828264          NaN          NaN
1961-08-01  499.473574          NaN          NaN
1961-09-01  502.118884          NaN          NaN
1961-10-01  504.764194          NaN          NaN
1961-11-01  507.409504          NaN          NaN
1961-12-01  510.054815          NaN          NaN

In [10]:
import time

start_time = time.time()

model = "AAA"
lags = [12]
adam = Adam(model, lags)
adam.fit(ts_df, h = h)
#print(adam.adam_created)
fc = adam.predict()
#print(adam.adam_created)
execution_time = time.time() - start_time
print(f"Execution time: {execution_time:.4f} seconds")
fc

[12]
[12]
Execution time: 0.1866 seconds

                  mean  lower_0.025  upper_0.975
1961-01-01  455.789014          NaN          NaN
1961-02-01  431.197856          NaN          NaN
1961-03-01  467.688495          NaN          NaN
1961-04-01  505.091416          NaN          NaN
1961-05-01  514.522207          NaN          NaN
1961-06-01  574.382685          NaN          NaN
1961-07-01  655.768913          NaN          NaN
1961-08-01  640.367532          NaN          NaN
1961-09-01  542.729839          NaN          NaN
1961-10-01  494.096667          NaN          NaN
1961-11-01  427.355032          NaN          NaN
1961-12-01  472.498328          NaN          NaN

In [11]:
model = "MAM"
lags = [12]
adam = Adam(model, lags)
adam.fit(ts_df, h = h)
#print(adam.adam_created)
fc = adam.predict()
#print(adam.adam_created)
execution_time = time.time() - start_time
print(f"Execution time: {execution_time:.4f} seconds")
fc

[12]

[12]
Execution time: 0.7220 seconds

                  mean  lower_0.025  upper_0.975
1961-01-01  447.564985          NaN          NaN
1961-02-01  422.890886          NaN          NaN
1961-03-01  478.838221          NaN          NaN
1961-04-01  502.333199          NaN          NaN
1961-05-01  516.013538          NaN          NaN
1961-06-01  589.466982          NaN          NaN
1961-07-01  679.006938          NaN          NaN
1961-08-01  669.731313          NaN          NaN
1961-09-01  555.658143          NaN          NaN
1961-10-01  492.362263          NaN          NaN
1961-11-01  420.350060          NaN          NaN
1961-12-01  465.267564          NaN          NaN

AAA
estimator2
[12]
AAN
estimator2
AAdA
estimator2
[]

ValueError: max() arg is an empty sequence

In [ ]:
adam.adam_estimated

In [ ]:
fc['initial_estimated']