In [1]:
import numpy as np
import pandas as pd

%load_ext rpy2.ipython
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
import os

def load_smooth_dev():
    """Load the smooth package in development mode, avoiding package install cache"""
    smooth_path = "/home/filtheo/smooth/"
    
    ro.r(f'''
    if (!requireNamespace("devtools", quietly=TRUE)) {{
        install.packages("devtools", repos="https://cran.rstudio.com/", INSTALL_opts="--no-multiarch --no-test-load --no-save --no-restore --no-cache")
    }}
    devtools::load_all("{smooth_path}")
    ''')
    
    print("Smooth package loaded in development mode")

def install_and_load_smooth():
    """Install and load the smooth package from CRAN if not already installed"""
    ro.r('''
    if (!requireNamespace("smooth", quietly=TRUE)) {
        install.packages("smooth", repos="https://cran.rstudio.com/")
    }
    library(smooth)
    ''')
    print("Smooth package installed (if needed) and loaded from CRAN")

#load_smooth_dev()
install_and_load_smooth()

R[write to console]: Loading required package: greybox

R[write to console]: Package "greybox", v2.0.6 loaded.


R[write to console]: This is package "smooth", v4.4.0.41005


R[write to console]: In addition:
R[write to console]: Warning message:

R[write to console]: In (function (package, help, pos = 2, lib.loc = NULL, character.only = FALSE,  :
R[write to console]:

R[write to console]:  library ‘/usr/lib/R/site-library’ contains no packages

Smooth package installed (if needed) and loaded from CRAN

In [2]:
%%R

#library(smooth)
library(Mcomp)
m1_monthly <- subset(M1, "MONTHLY")

Loading required package: forecast
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

In [3]:
import argparse
import time
import warnings
from pathlib import Path

import numpy as np
import pandas as pd
from utils_benchmark import (
    compute_all_metrics,
    get_seasonality,
    list_available_datasets,
    load_dataset,
    print_available_datasets,
)

warnings.filterwarnings('ignore')
from smooth.adam_general.core.adam import ADAM

In [4]:
DEFAULT_DATA_DIR = "/home/filtheo/smooth/python/tests/speed_tests/benchmark_data"

In [5]:
def list_available_datasets(data_dir=None):
    """List all available datasets in the data directory."""
    data_dir = Path(data_dir) if data_dir else DEFAULT_DATA_DIR

    if not data_dir.exists():
        return []

    datasets = []
    for path in data_dir.iterdir():
        if path.is_dir() and (path / "metadata.csv").exists():
            datasets.append(path.name)

    return sorted(datasets)

list_available_datasets(DEFAULT_DATA_DIR)

['m1_monthly',
 'm1_quarterly',
 'm1_yearly',
 'm3_monthly',
 'm3_other',
 'm3_quarterly',
 'm3_yearly',
 'tourism_monthly',
 'tourism_quarterly',
 'tourism_yearly']

In [6]:
def load_and_datetime_index_series(dataset_path, 
                                   series, h, 
                                   train_start_date='2023-01-01'):
        """
        Loads train and test dataframes for a series, assigning a monthly datetime index starting at train_start_date.

        Args:
            dataset_path (str): Path to dataset directory.
            series (str): Series ID.
            h (int): Forecast horizon (length of test set).
            train_start_date (str): Date string for first train index (default '2023-01-01').

        Returns:
            tuple (train_df, test_df)
                train_df: Pandas DataFrame with datetime index.
                test_df: Pandas DataFrame with datetime index.
        """
        train_path = dataset_path + "/" + series + "_train.csv"
        test_path = dataset_path + "/" + series + "_test.csv"

        train_df = pd.read_csv(train_path)
        total_length = len(train_df)
        # As we have no real date info, just generate a fixed date range starting at Jan 2000
        dates = pd.date_range(start=train_start_date, periods=total_length, freq='M')
        train_df['t'] = dates
        end_date = train_df['t'].iloc[-1]
        train_df.set_index('t', inplace=True)
        test_df = pd.read_csv(test_path)
        # Use DateOffset for months to advance to first test period
        dates = pd.date_range(start=end_date + pd.DateOffset(months=1), periods=h, freq='M')
        test_df['t'] = dates
        test_df.set_index('t', inplace=True)
        return train_df, test_df

In [7]:
dataset = 'm1_monthly'
dataset_path = DEFAULT_DATA_DIR + "/" + dataset


metadata = pd.read_csv(dataset_path + "/metadata.csv")
series_ids = metadata['series_id'].tolist()
h = metadata['horizon'].unique()[0]
freq = metadata['frequency'].unique()[0]

In [8]:
# For every series
for series in series_ids:
    # Load and prepare series
    train_df, test_df = load_and_datetime_index_series(dataset_path, series, h)

    # define model 
    model_optimal = ADAM(model='ZZZ', lags=[freq], initial='optimal')
    model_optimal.fit(train_df)
    forecast_result = model_optimal.predict(h=h)
    forecast_result.index = test_df.index
    forecast_result['True'] = test_df['y']
    forecast_result['series_id'] = series
    print("Series: ", series)
    #print('--'*30)
    print(model_optimal)
    print('-'*100)
    break

Series:  series_0001
Time elapsed: 1.04 seconds
Model estimated using ADAM() function: ETS(MMN)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 595.9333
Persistence vector g:
 alpha   beta
0.0004 0.0002
Sample size: 42
Number of estimated parameters: 5
Number of degrees of freedom: 37
Information criteria:
      AIC      AICc       BIC      BICc
1201.8666 1203.5332 1210.5549 1213.6696
----------------------------------------------------------------------------------------------------

In [9]:
series_id = 6
series = series_ids[series_id]

train_df, test_df = load_and_datetime_index_series(dataset_path, series, h)
model_optimal = ADAM(model='ZZZ', lags=[freq], initial='optimal')
model_optimal.fit(train_df)
forecast_result = model_optimal.predict(h=h)
forecast_result.index = test_df.index
forecast_result['True'] = test_df['y']
forecast_result['series_id'] = series
print("Series: ", series)
#print('--'*30)
print(model_optimal)
print('-'*100)

Series:  series_0007
Time elapsed: 1.08 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 457.8278
Persistence vector g:
 alpha  gamma
0.5099 0.0038
Damping parameter: 1.0000
Sample size: 42
Number of estimated parameters: 15
Number of degrees of freedom: 27
Information criteria:
      AIC      AICc       BIC      BICc
 945.6556  964.1171  971.7206 1006.2222
----------------------------------------------------------------------------------------------------

In [10]:
train_df

                 y
t
2023-01-31  117497
2023-02-28  153276
2023-03-31  241443
2023-04-30  218709
2023-05-31  202896
2023-06-30  200064
2023-07-31  192762
2023-08-31  109974
2023-09-30  154109
2023-10-31  163650
2023-11-30  129863
2023-12-31   89690
2024-01-31  127367
2024-02-29  147950
2024-03-31  247927
2024-04-30  184599
2024-05-31  213691
2024-06-30  204560
2024-07-31  157170
2024-08-31  123872
2024-09-30  135217
2024-10-31  166298
2024-11-30  139032
2024-12-31  113558
2025-01-31  153676
2025-02-28  178397
2025-03-31  233687
2025-04-30  215396
2025-05-31  197457
2025-06-30  182984
2025-07-31  155172
2025-08-31  107915
2025-09-30  128639
2025-10-31  147643
2025-11-30  114334
2025-12-31   64709
2026-01-31   98618
2026-02-28  115199
2026-03-31  166369
2026-04-30  175057
2026-05-31  173856
2026-06-30  133181

In [11]:
# Examine series_id from 0 to 9
print("="*80)
print("EXAMINING SERIES_ID FROM 0 TO 9")
print("="*80)

for series_id in range(10):  # 0 to 9
    print(f"\n{'='*80}")
    print(f"Series ID: {series_id}")
    print(f"{'='*80}")
    
    series = series_ids[series_id]
    train_df, test_df = load_and_datetime_index_series(dataset_path, series, h)
    
    model_optimal = ADAM(model='ZZZ', lags=[freq], initial='optimal')
    model_optimal.fit(train_df)
    forecast_result = model_optimal.predict(h=h)
    forecast_result.index = test_df.index
    forecast_result['True'] = test_df['y']
    forecast_result['series_id'] = series
    
    print(f"Series: {series}")
    print(model_optimal)
    print('-'*80)

================================================================================
EXAMINING SERIES_ID FROM 0 TO 9
================================================================================

================================================================================
Series ID: 0
================================================================================
Series: series_0001
Time elapsed: 0.85 seconds
Model estimated using ADAM() function: ETS(MMN)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 595.9333
Persistence vector g:
 alpha   beta
0.0004 0.0002
Sample size: 42
Number of estimated parameters: 5
Number of degrees of freedom: 37
Information criteria:
      AIC      AICc       BIC      BICc
1201.8666 1203.5332 1210.5549 1213.6696
--------------------------------------------------------------------------------

================================================================================
Series ID: 1
================================================================================
Series: series_0002
Time elapsed: 0.93 seconds
Model estimated using ADAM() function: ETS(MNN)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 422.5697
Persistence vector g:
 alpha
1.0000
Sample size: 109
Number of estimated parameters: 3
Number of degrees of freedom: 106
Information criteria:
      AIC      AICc       BIC      BICc
 851.1394  851.3679  859.2134  859.7496
--------------------------------------------------------------------------------

================================================================================
Series ID: 2
================================================================================
Series: series_0003
Time elapsed: 4.13 seconds
Model estimated using ADAM() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 718.0856
Persistence vector g:
 alpha   beta  gamma
0.3608 0.0011 0.0011
Damping parameter: 1.0000
Sample size: 129
Number of estimated parameters: 17
Number of degrees of freedom: 112
Information criteria:
      AIC      AICc       BIC      BICc
1470.1713 1475.6848 1518.7881 1532.1854
--------------------------------------------------------------------------------

================================================================================
Series ID: 3
================================================================================
Series: series_0004
Time elapsed: 1.11 seconds
Model estimated using ADAM() function: ETS(ANA)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 513.4180
Persistence vector g:
 alpha  gamma
0.4972 0.4992
Damping parameter: 1.0000
Sample size: 70
Number of estimated parameters: 15
Number of degrees of freedom: 55
Information criteria:
      AIC      AICc       BIC      BICc
1056.8359 1065.7248 1090.5634 1109.4456
--------------------------------------------------------------------------------

================================================================================
Series ID: 4
================================================================================
Series: series_0005
Time elapsed: 1.17 seconds
Model estimated using ADAM() function: ETS(ANA)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 333.3333
Persistence vector g:
 alpha  gamma
0.1436 0.0000
Damping parameter: 1.0000
Sample size: 129
Number of estimated parameters: 15
Number of degrees of freedom: 114
Information criteria:
      AIC      AICc       BIC      BICc
 696.6667  700.9145  739.5639  749.8856
--------------------------------------------------------------------------------

================================================================================
Series ID: 5
================================================================================
Series: series_0006
Time elapsed: 0.31 seconds
Model estimated using ADAM() function: ETS(ANN)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 358.2210
Persistence vector g:
 alpha
1.0000
Damping parameter: 1.0000
Sample size: 42
Number of estimated parameters: 3
Number of degrees of freedom: 39
Information criteria:
      AIC      AICc       BIC      BICc
 722.4419  723.0735  727.6549  728.8352
--------------------------------------------------------------------------------

================================================================================
Series ID: 6
================================================================================
Series: series_0007
Time elapsed: 0.85 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 457.8278
Persistence vector g:
 alpha  gamma
0.5099 0.0038
Damping parameter: 1.0000
Sample size: 42
Number of estimated parameters: 15
Number of degrees of freedom: 27
Information criteria:
      AIC      AICc       BIC      BICc
 945.6556  964.1171  971.7206 1006.2222
--------------------------------------------------------------------------------

================================================================================
Series ID: 7
================================================================================
Series: series_0008
Time elapsed: 0.25 seconds
Model estimated using ADAM() function: ETS(ANN)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 293.0355
Persistence vector g:
 alpha
0.4959
Damping parameter: 1.0000
Sample size: 42
Number of estimated parameters: 3
Number of degrees of freedom: 39
Information criteria:
      AIC      AICc       BIC      BICc
 592.0711  592.7026  597.2841  598.4644
--------------------------------------------------------------------------------

================================================================================
Series ID: 8
================================================================================
Series: series_0009
Time elapsed: 0.76 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 332.6799
Persistence vector g:
 alpha  gamma
0.1854 0.0052
Damping parameter: 1.0000
Sample size: 42
Number of estimated parameters: 15
Number of degrees of freedom: 27
Information criteria:
      AIC      AICc       BIC      BICc
 695.3598  713.8214  721.4249  755.9264
--------------------------------------------------------------------------------

================================================================================
Series ID: 9
================================================================================
Series: series_0010
Time elapsed: 1.53 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 1105.3889
Persistence vector g:
 alpha  gamma
0.2425 0.5261
Damping parameter: 1.0000
Sample size: 132
Number of estimated parameters: 15
Number of degrees of freedom: 117
Information criteria:
      AIC      AICc       BIC      BICc
2240.7778 2244.9158 2284.0199 2294.1222
--------------------------------------------------------------------------------

In [12]:
# Python: Loop through all series and save model type and loss to dataframe
results_python = []

print("Running Python models on all Mcomp series...")
print(f"Total series: {len(series_ids)}")
print("="*80)

total_series = 100
series_ids_temp = series_ids[:total_series]
for idx, series in enumerate(series_ids_temp):
    try:
        # Load and prepare series
        train_df, test_df = load_and_datetime_index_series(dataset_path, series, h)
        
        # Fit model
        model_optimal = ADAM(model='ZZZ', lags=[freq], initial='optimal')
        model_optimal.fit(train_df)
        
        # Extract model type and loss value
        model_type = model_optimal.model if hasattr(model_optimal, 'model') else 'Unknown'
        loss_value = model_optimal.adam_estimated.get('CF_value', None) if hasattr(model_optimal, 'adam_estimated') and model_optimal.adam_estimated else None
        
        # Save results (using idx+1 to match R's 1-based indexing)
        results_python.append({
            'index': idx + 1,  # 1-based index to match R
            'series_id': series,
            'model_type': model_type,
            'loss_value': loss_value
        })
        
        if (idx + 1) % 10 == 0:
            print(f"Processed {idx + 1}/{len(series_ids)} series...")
            
    except Exception as e:
        print(f"Error processing {series}: {e}")
        results_python.append({
            'index': idx + 1,
            'series_id': series,
            'model_type': 'Error',
            'loss_value': None
        })

# Create dataframe
df_python = pd.DataFrame(results_python)
print(f"\nCompleted! Processed {len(df_python)} series.")
print(f"\nPython Results Summary:")
print(df_python.head(10))
df_python

Running Python models on all Mcomp series...
Total series: 617
================================================================================

Processed 10/617 series...
Processed 20/617 series...
Processed 30/617 series...
Processed 40/617 series...
Processed 50/617 series...
Processed 60/617 series...
Processed 70/617 series...
Processed 80/617 series...
Processed 90/617 series...
Processed 100/617 series...

Completed! Processed 100 series.

Python Results Summary:
   index    series_id model_type   loss_value
0      1  series_0001   ETS(MMN)   595.933280
1      2  series_0002   ETS(MNN)   422.569677
2      3  series_0003   ETS(MAM)   718.085635
3      4  series_0004   ETS(ANA)   513.417968
4      5  series_0005   ETS(ANA)   333.333340
5      6  series_0006   ETS(ANN)   358.220959
6      7  series_0007   ETS(MNM)   457.827777
7      8  series_0008   ETS(ANN)   293.035531
8      9  series_0009   ETS(MNM)   332.679918
9     10  series_0010   ETS(MNM)  1105.388914

    index    series_id model_type  loss_value
0       1  series_0001   ETS(MMN)  595.933280
1       2  series_0002   ETS(MNN)  422.569677
2       3  series_0003   ETS(MAM)  718.085635
3       4  series_0004   ETS(ANA)  513.417968
4       5  series_0005   ETS(ANA)  333.333340
..    ...          ...        ...         ...
95     96  series_0096   ETS(MAA)  378.933488
96     97  series_0097   ETS(MAN)  265.380640
97     98  series_0098   ETS(MNN)  488.908294
98     99  series_0099   ETS(MNN)  532.663161
99    100  series_0100   ETS(MNN)  550.425216

[100 rows x 4 columns]

In [13]:
%%R
# R: Loop through all series and save model type and loss to dataframe
library(Mcomp)
m1_monthly <- subset(M1, "MONTHLY")

results_r <- data.frame(
  series_id = integer(),
  model_type = character(),
  loss_value = numeric(),
  stringsAsFactors = FALSE
)

cat("Running R models on all Mcomp series...\n")
cat(sprintf("Total series: %d\n", length(m1_monthly)))
cat("================================================================================\n")

total_series = 100
series_ids_temp = 1:total_series
for (series_id in series_ids_temp) {
  tryCatch({
    temp_series <- m1_monthly[[series_id]]
    model_opt <- adam(temp_series, model = "ZZZ", lags = c(12), initial = 'optimal')
    
    # Extract model type and loss value
    model_type <- model_opt$model
    loss_value <- model_opt$lossValue
    
    # Add to results
    results_r <- rbind(results_r, data.frame(
      series_id = series_id,
      model_type = model_type,
      loss_value = loss_value,
      stringsAsFactors = FALSE
    ))
    
    if (series_id %% 10 == 0) {
      cat(sprintf("Processed %d/%d series...\n", series_id, length(m1_monthly)))
    }
  }, error = function(e) {
    cat(sprintf("Error processing series %d: %s\n", series_id, conditionMessage(e)))
    results_r <<- rbind(results_r, data.frame(
      series_id = series_id,
      model_type = "Error",
      loss_value = NA,
      stringsAsFactors = FALSE
    ))
  })
}

cat(sprintf("\nCompleted! Processed %d series.\n", nrow(results_r)))
cat("\nR Results Summary:\n")
print(head(results_r, 10))
results_r

Running R models on all Mcomp series...
Total series: 617
================================================================================

Processed 10/617 series...
Processed 20/617 series...
Processed 30/617 series...
Processed 40/617 series...
Processed 50/617 series...
Processed 60/617 series...
Processed 70/617 series...
Processed 80/617 series...
Processed 90/617 series...
Processed 100/617 series...

Completed! Processed 100 series.

R Results Summary:
   series_id model_type loss_value
1          1   ETS(MMN)   595.9333
2          2   ETS(MNN)   422.5697
3          3   ETS(MAM)   718.0855
4          4   ETS(ANA)   513.4180
5          5   ETS(ANA)   333.5017
6          6   ETS(ANN)   358.2210
7          7   ETS(MNM)   457.8278
8          8   ETS(ANN)   293.0355
9          9   ETS(MNM)   332.6799
10        10   ETS(MNM)  1105.3890
    series_id model_type loss_value
1           1   ETS(MMN)   595.9333
2           2   ETS(MNN)   422.5697
3           3   ETS(MAM)   718.0855
4           4   ETS(ANA)   513.4180
5           5   ETS(ANA)   333.5017
6           6   ETS(ANN)   358.2210
7           7   ETS(MNM)   457.8278
8           8   ETS(ANN)   293.0355
9           9   ETS(MNM)   332.6799
10         10   ETS(MNM)  1105.3890
11         11   ETS(MNM)   911.2899
12         12   ETS(MNM)   280.2394
13         13   ETS(ANM)   253.4946
14         14   ETS(MAM)   475.5781
15         15   ETS(MNN)   909.7876
16         16   ETS(MNN)   335.0144
17         17   ETS(ANN)   252.2442
18         18   ETS(MNN)   839.1647
19         19   ETS(ANA)   613.8929
20         20   ETS(ANA)   573.2506
21         21   ETS(ANA)   563.4756
22         22   ETS(ANA)   457.7693
23         23   ETS(ANN)   145.3423
24         24   ETS(ANN)   328.2269
25         25   ETS(MNM)   522.9674
26         26   ETS(MAM)   496.4409
27         27   ETS(MAN)   479.0910
28         28   ETS(AAN)   475.2184
29         29   ETS(ANN)   343.4911
30         30   ETS(ANA)   171.8624
31         31   ETS(MNA)   400.6903
32         32   ETS(MNA)   422.6203
33         33   ETS(MNM)   375.6460
34         34   ETS(MNM)   322.2173
35         35   ETS(MNM)   313.7176
36         36   ETS(AAN)   305.5238
37         37   ETS(AAA)   364.9742
38         38   ETS(AMM)   328.4062
39         39   ETS(ANM)   350.2824
40         40   ETS(MNN)   356.4536
41         41   ETS(MNN)   333.1831
42         42   ETS(MAM)   904.6341
43         43   ETS(MAM)   902.7941
44         44   ETS(MAM)   809.8071
45         45   ETS(AAA)   497.1153
46         46   ETS(ANN)   267.5612
47         47   ETS(MMN)   311.0885
48         48   ETS(MMN)   301.2638
49         49   ETS(ANN)    17.4439
50         50   ETS(MAM)  1008.7297
51         51   ETS(MNA)   378.3437
52         52   ETS(ANA)   521.8456
53         53   ETS(MNA)   169.5351
54         54   ETS(MAM)   582.3158
55         55   ETS(MAM)   794.0639
56         56   ETS(MAM)   275.4712
57         57   ETS(MNM)   450.8576
58         58   ETS(MAM)   327.1373
59         59   ETS(ANN)   134.5380
60         60   ETS(MNA)   145.8718
61         61   ETS(ANM)   798.3497
62         62   ETS(MNM)   578.4807
63         63  ETS(MMdN)   490.5746
64         64   ETS(MAM)   765.7388
65         65   ETS(MAM)  1015.1528
66         66   ETS(MAM)   778.5140
67         67   ETS(ANN)   657.5129
68         68   ETS(MNM)   425.9223
69         69   ETS(ANA)   919.1957
70         70   ETS(AAM)   802.4745
71         71   ETS(ANM)  1146.2770
72         72   ETS(MMN)   545.6139
73         73   ETS(ANA)   574.9432
74         74   ETS(MNM)  1022.7265
75         75   ETS(ANM)   440.3564
76         76   ETS(ANA)   479.5979
77         77   ETS(MNA)   609.1252
78         78   ETS(ANA)   340.8216
79         79   ETS(MAM)  1050.5473
80         80   ETS(MNM)   834.0996
81         81   ETS(MNM)   960.3265
82         82   ETS(ANM)  1380.1196
83         83  ETS(MAdM)   719.6590
84         84   ETS(MAM)   826.4449
85         85   ETS(ANA)   728.5890
86         86   ETS(ANA)   511.0180
87         87   ETS(MAM)   986.7099
88         88   ETS(MNM)   530.5677
89         89   ETS(MAM)   985.9644
90         90   ETS(MNM)   640.1853
91         91   ETS(MAM)  1398.6604
92         92   ETS(MNM)  1103.7745
93         93   ETS(AAA)   352.1817
94         94   ETS(MNN)   270.9240
95         95   ETS(MAN)   339.1346
96         96   ETS(MAA)   378.9335
97         97   ETS(MAN)   265.3806
98         98   ETS(MNN)   488.9083
99         99   ETS(MNN)   532.6632
100       100   ETS(MNN)   550.4252

In [14]:
%%R -o results_r
results_r

    series_id model_type loss_value
1           1   ETS(MMN)   595.9333
2           2   ETS(MNN)   422.5697

3           3   ETS(MAM)   718.0855
4           4   ETS(ANA)   513.4180
5           5   ETS(ANA)   333.5017
6           6   ETS(ANN)   358.2210
7           7   ETS(MNM)   457.8278
8           8   ETS(ANN)   293.0355
9           9   ETS(MNM)   332.6799
10         10   ETS(MNM)  1105.3890
11         11   ETS(MNM)   911.2899
12         12   ETS(MNM)   280.2394
13         13   ETS(ANM)   253.4946
14         14   ETS(MAM)   475.5781
15         15   ETS(MNN)   909.7876
16         16   ETS(MNN)   335.0144
17         17   ETS(ANN)   252.2442
18         18   ETS(MNN)   839.1647
19         19   ETS(ANA)   613.8929
20         20   ETS(ANA)   573.2506
21         21   ETS(ANA)   563.4756
22         22   ETS(ANA)   457.7693
23         23   ETS(ANN)   145.3423
24         24   ETS(ANN)   328.2269
25         25   ETS(MNM)   522.9674
26         26   ETS(MAM)   496.4409
27         27   ETS(MAN)   479.0910
28         28   ETS(AAN)   475.2184
29         29   ETS(ANN)   343.4911
30         30   ETS(ANA)   171.8624
31         31   ETS(MNA)   400.6903
32         32   ETS(MNA)   422.6203
33         33   ETS(MNM)   375.6460
34         34   ETS(MNM)   322.2173
35         35   ETS(MNM)   313.7176
36         36   ETS(AAN)   305.5238
37         37   ETS(AAA)   364.9742
38         38   ETS(AMM)   328.4062
39         39   ETS(ANM)   350.2824
40         40   ETS(MNN)   356.4536
41         41   ETS(MNN)   333.1831
42         42   ETS(MAM)   904.6341
43         43   ETS(MAM)   902.7941
44         44   ETS(MAM)   809.8071
45         45   ETS(AAA)   497.1153
46         46   ETS(ANN)   267.5612
47         47   ETS(MMN)   311.0885
48         48   ETS(MMN)   301.2638
49         49   ETS(ANN)    17.4439
50         50   ETS(MAM)  1008.7297
51         51   ETS(MNA)   378.3437
52         52   ETS(ANA)   521.8456
53         53   ETS(MNA)   169.5351
54         54   ETS(MAM)   582.3158
55         55   ETS(MAM)   794.0639
56         56   ETS(MAM)   275.4712
57         57   ETS(MNM)   450.8576
58         58   ETS(MAM)   327.1373
59         59   ETS(ANN)   134.5380
60         60   ETS(MNA)   145.8718
61         61   ETS(ANM)   798.3497
62         62   ETS(MNM)   578.4807
63         63  ETS(MMdN)   490.5746
64         64   ETS(MAM)   765.7388
65         65   ETS(MAM)  1015.1528
66         66   ETS(MAM)   778.5140
67         67   ETS(ANN)   657.5129
68         68   ETS(MNM)   425.9223
69         69   ETS(ANA)   919.1957
70         70   ETS(AAM)   802.4745
71         71   ETS(ANM)  1146.2770
72         72   ETS(MMN)   545.6139
73         73   ETS(ANA)   574.9432
74         74   ETS(MNM)  1022.7265
75         75   ETS(ANM)   440.3564
76         76   ETS(ANA)   479.5979
77         77   ETS(MNA)   609.1252
78         78   ETS(ANA)   340.8216
79         79   ETS(MAM)  1050.5473
80         80   ETS(MNM)   834.0996
81         81   ETS(MNM)   960.3265
82         82   ETS(ANM)  1380.1196
83         83  ETS(MAdM)   719.6590
84         84   ETS(MAM)   826.4449
85         85   ETS(ANA)   728.5890
86         86   ETS(ANA)   511.0180
87         87   ETS(MAM)   986.7099
88         88   ETS(MNM)   530.5677
89         89   ETS(MAM)   985.9644
90         90   ETS(MNM)   640.1853
91         91   ETS(MAM)  1398.6604
92         92   ETS(MNM)  1103.7745
93         93   ETS(AAA)   352.1817
94         94   ETS(MNN)   270.9240
95         95   ETS(MAN)   339.1346
96         96   ETS(MAA)   378.9335
97         97   ETS(MAN)   265.3806
98         98   ETS(MNN)   488.9083
99         99   ETS(MNN)   532.6632
100       100   ETS(MNN)   550.4252

In [15]:
# Merge dataframes for comparison using index (1-based to match R)
results_r_py = results_r.copy()

# Merge on index (R's series_id is 1-based, matching our Python index)
df_comparison = df_python.merge(
    results_r_py,
    left_on='index',
    right_on='series_id',
    suffixes=('_python', '_r'),
    how='outer'
)

# Add comparison columns
df_comparison['model_type_match'] = df_comparison['model_type_python'] == df_comparison['model_type_r']
df_comparison['loss_diff'] = df_comparison['loss_value_python'] - df_comparison['loss_value_r']
df_comparison['loss_diff_abs'] = df_comparison['loss_diff'].abs()

print("="*80)
print("COMPARISON RESULTS")
print("="*80)
print(f"\nTotal series compared: {len(df_comparison)}")
print(f"Model types match: {df_comparison['model_type_match'].sum()}/{len(df_comparison)}")
if df_comparison['loss_diff_abs'].notna().any():
    print(f"Average absolute loss difference: {df_comparison['loss_diff_abs'].mean():.6f}")
    print(f"Max absolute loss difference: {df_comparison['loss_diff_abs'].max():.6f}")

print("\n" + "="*80)
print("First 20 comparison results:")
print("="*80)
display_cols = ['index', 'series_id_python', 'model_type_python', 'model_type_r', 'model_type_match', 
                'loss_value_python', 'loss_value_r', 'loss_diff_abs']
available_cols = [col for col in display_cols if col in df_comparison.columns]
print(df_comparison[available_cols].head(20))

print("\n" + "="*80)
print("Series with mismatched model types:")
print("="*80)
mismatched = df_comparison[~df_comparison['model_type_match']]
if len(mismatched) > 0:
    print(mismatched[['index', 'series_id_python', 'model_type_python', 'model_type_r']])
else:
    print("All model types match!")

df_comparison

================================================================================
COMPARISON RESULTS
================================================================================

Total series compared: 100
Model types match: 94/100
Average absolute loss difference: 0.356576
Max absolute loss difference: 12.464253

================================================================================
First 20 comparison results:
================================================================================
    index series_id_python model_type_python model_type_r  model_type_match  \
0       1      series_0001          ETS(MMN)     ETS(MMN)              True
1       2      series_0002          ETS(MNN)     ETS(MNN)              True
2       3      series_0003          ETS(MAM)     ETS(MAM)              True
3       4      series_0004          ETS(ANA)     ETS(ANA)              True
4       5      series_0005          ETS(ANA)     ETS(ANA)              True
5       6      series_0006          ETS(ANN)     ETS(ANN)              True
6       7      series_0007          ETS(MNM)     ETS(MNM)              True
7       8      series_0008          ETS(ANN)     ETS(ANN)              True
8       9      series_0009          ETS(MNM)     ETS(MNM)              True
9      10      series_0010          ETS(MNM)     ETS(MNM)              True
10     11      series_0011          ETS(MNM)     ETS(MNM)              True
11     12      series_0012          ETS(MNM)     ETS(MNM)              True
12     13      series_0013          ETS(ANM)     ETS(ANM)              True
13     14      series_0014          ETS(MAM)     ETS(MAM)              True
14     15      series_0015          ETS(MNN)     ETS(MNN)              True
15     16      series_0016          ETS(MNN)     ETS(MNN)              True
16     17      series_0017          ETS(ANN)     ETS(ANN)              True
17     18      series_0018          ETS(MNN)     ETS(MNN)              True
18     19      series_0019          ETS(ANA)     ETS(ANA)              True
19     20      series_0020          ETS(ANA)     ETS(ANA)              True

    loss_value_python  loss_value_r  loss_diff_abs
0          595.933280    595.933280   4.547474e-13
1          422.569677    422.569677   4.490630e-12
2          718.085635    718.085548   8.710808e-05
3          513.417968    513.417968   1.136868e-13
4          333.333340    333.501720   1.683802e-01
5          358.220959    358.220959   0.000000e+00
6          457.827777    457.827777   2.444267e-12
7          293.035531    293.035531   0.000000e+00
8          332.679918    332.679918   5.115908e-13
9         1105.388914   1105.388963   4.887707e-05
10         910.930532    911.289863   3.593304e-01
11         279.948377    280.239376   2.909997e-01
12         253.791419    253.494584   2.968358e-01
13         475.578092    475.578092   6.821210e-13
14         909.787567    909.787567   1.136868e-13
15         335.014414    335.014414   9.720225e-12
16         252.244246    252.244246   2.842171e-14
17         839.164717    839.164717   0.000000e+00
18         613.892857    613.892857   0.000000e+00
19         573.250602    573.250602   0.000000e+00

================================================================================
Series with mismatched model types:
================================================================================
    index series_id_python model_type_python model_type_r
49     50      series_0050          ETS(MNM)     ETS(MAM)
51     52      series_0052          ETS(MAA)     ETS(ANA)
62     63      series_0063         ETS(AAdN)    ETS(MMdN)
63     64      series_0064         ETS(MAdM)     ETS(MAM)
64     65      series_0065          ETS(MNM)     ETS(MAM)
88     89      series_0089          ETS(MNM)     ETS(MAM)

,index,series_id_python,model_type_python,loss_value_python,series_id_r,model_type_r,loss_value_r,model_type_match,loss_diff,loss_diff_abs
0,1,series_0001,ETS(MMN),595.933280,1,ETS(MMN),595.933280,True,-4.547474e-13,4.547474e-13
1,2,series_0002,ETS(MNN),422.569677,2,ETS(MNN),422.569677,True,-4.490630e-12,4.490630e-12
2,3,series_0003,ETS(MAM),718.085635,3,ETS(MAM),718.085548,True,8.710808e-05,8.710808e-05
3,4,series_0004,ETS(ANA),513.417968,4,ETS(ANA),513.417968,True,-1.136868e-13,1.136868e-13
4,5,series_0005,ETS(ANA),333.333340,5,ETS(ANA),333.501720,True,-1.683802e-01,1.683802e-01
...,...,...,...,...,...,...,...,...,...,...
95,96,series_0096,ETS(MAA),378.933488,96,ETS(MAA),378.933488,True,-1.193712e-12,1.193712e-12
96,97,series_0097,ETS(MAN),265.380640,97,ETS(MAN),265.380640,True,0.000000e+00,0.000000e+00
97,98,series_0098,ETS(MNN),488.908294,98,ETS(MNN),488.908294,True,1.193712e-11,1.193712e-11
98,99,series_0099,ETS(MNN),532.663161,99,ETS(MNN),532.663161,True,-2.614797e-12,2.614797e-12
99,100,series_0100,ETS(MNN),550.425216,100,ETS(MNN),550.425216,True,-2.842171e-12,2.842171e-12

In [19]:
df_comparison[df_comparison['model_type_match'] == False]

,index,series_id_python,model_type_python,loss_value_python,series_id_r,model_type_r,loss_value_r,model_type_match,loss_diff,loss_diff_abs
49,50,series_0050,ETS(MNM),1011.135750,50,ETS(MAM),1008.729678,False,2.406072,2.406072
51,52,series_0052,ETS(MAA),509.381366,52,ETS(ANA),521.845619,False,-12.464253,12.464253
62,63,series_0063,ETS(AAdN),492.682371,63,ETS(MMdN),490.574621,False,2.107750,2.107750
63,64,series_0064,ETS(MAdM),764.879758,64,ETS(MAM),765.738800,False,-0.859042,0.859042
64,65,series_0065,ETS(MNM),1016.422345,65,ETS(MAM),1015.152829,False,1.269516,1.269516
88,89,series_0089,ETS(MNM),988.509784,89,ETS(MAM),985.964382,False,2.545403,2.545403

In [20]:
indices = df_comparison[df_comparison['loss_diff'].abs() > 1]['index'].tolist()
df_comparison[df_comparison['loss_diff'].abs() > 1]

,index,series_id_python,model_type_python,loss_value_python,series_id_r,model_type_r,loss_value_r,model_type_match,loss_diff,loss_diff_abs
49,50,series_0050,ETS(MNM),1011.135750,50,ETS(MAM),1008.729678,False,2.406072,2.406072
51,52,series_0052,ETS(MAA),509.381366,52,ETS(ANA),521.845619,False,-12.464253,12.464253
62,63,series_0063,ETS(AAdN),492.682371,63,ETS(MMdN),490.574621,False,2.107750,2.107750
64,65,series_0065,ETS(MNM),1016.422345,65,ETS(MAM),1015.152829,False,1.269516,1.269516
65,66,series_0066,ETS(MAM),783.134521,66,ETS(MAM),778.513982,True,4.620539,4.620539
80,81,series_0081,ETS(MNM),961.804560,81,ETS(MNM),960.326524,True,1.478036,1.478036
83,84,series_0084,ETS(MAM),829.968647,84,ETS(MAM),826.444891,True,3.523756,3.523756
88,89,series_0089,ETS(MNM),988.509784,89,ETS(MAM),985.964382,False,2.545403,2.545403

In [21]:
indices

[50, 52, 63, 65, 66, 81, 84, 89]

In [22]:
indices = [50, 52, 63, 65, 66, 81, 84, 89]
for idx in indices:
    series = series_ids[idx-1]
    train_df, test_df = load_and_datetime_index_series(dataset_path, series, h)
    
    model_optimal = ADAM(model='ZZZ', lags=[freq], initial='optimal')
    model_optimal.fit(train_df)
    forecast_result = model_optimal.predict(h=h)
    forecast_result.index = test_df.index
    forecast_result['True'] = test_df['y']
    forecast_result['series_id'] = series
    
    print(f"Series: {series}")
    print(model_optimal)
    print('-'*80)

Series: series_0050
Time elapsed: 2.32 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 1011.1358
Persistence vector g:
 alpha  gamma
0.4601 0.0063
Damping parameter: 1.0000
Sample size: 104
Number of estimated parameters: 15
Number of degrees of freedom: 89
Information criteria:
      AIC      AICc       BIC      BICc
2052.2715 2057.7260 2091.9374 2104.6039
--------------------------------------------------------------------------------
Series: series_0052
Time elapsed: 3.72 seconds
Model estimated using ADAM() function: ETS(MAA)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 509.3814
Persistence vector g:
 alpha   beta  gamma
0.9837 0.0392 0.0091
Sample size: 101
Number of estimated parameters: 17
Number of degrees of freedom: 84
Information criteria:
      AIC      AICc       BIC      BICc
1052.7627 1060.1362 1097.2198 1114.2346
--------------------------------------------------------------------------------
Series: series_0063
Time elapsed: 1.23 seconds
Model estimated using ADAM() function: ETS(AAdN)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 492.6824
Persistence vector g:
 alpha   beta
0.9999 0.9984
Damping parameter: 0.6118
Sample size: 102
Number of estimated parameters: 6
Number of degrees of freedom: 96
Information criteria:
      AIC      AICc       BIC      BICc
 997.3647  998.2490 1013.1146 1015.1593
--------------------------------------------------------------------------------
Series: series_0065
Time elapsed: 1.96 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 1016.4223
Persistence vector g:
 alpha  gamma
0.5497 0.0030
Damping parameter: 1.0000
Sample size: 126
Number of estimated parameters: 15
Number of degrees of freedom: 111
Information criteria:
      AIC      AICc       BIC      BICc
2062.8447 2067.2083 2105.3889 2115.9408
--------------------------------------------------------------------------------
Series: series_0066
Time elapsed: 4.11 seconds
Model estimated using ADAM() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 783.1345
Persistence vector g:
 alpha   beta  gamma
0.5001 0.0172 0.0034
Damping parameter: 1.0000
Sample size: 118
Number of estimated parameters: 17
Number of degrees of freedom: 101
Information criteria:
      AIC      AICc       BIC      BICc
1600.2690 1606.3890 1647.3707 1661.9690
--------------------------------------------------------------------------------
Series: series_0081
Time elapsed: 1.67 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 961.8046
Persistence vector g:
 alpha  gamma
0.3951 0.0007
Damping parameter: 1.0000
Sample size: 124
Number of estimated parameters: 15
Number of degrees of freedom: 109
Information criteria:
      AIC      AICc       BIC      BICc
1953.6091 1958.0536 1995.9133 2006.6251
--------------------------------------------------------------------------------
Series: series_0084
Time elapsed: 4.16 seconds
Model estimated using ADAM() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 829.9686
Persistence vector g:
 alpha   beta  gamma
0.3954 0.0351 0.0015
Damping parameter: 1.0000
Sample size: 110
Number of estimated parameters: 17
Number of degrees of freedom: 93
Information criteria:
      AIC      AICc       BIC      BICc
1693.9373 1700.5895 1739.8455 1755.4797
--------------------------------------------------------------------------------
Series: series_0089
Time elapsed: 1.46 seconds
Model estimated using ADAM() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 988.5098
Persistence vector g:
 alpha  gamma
0.2869 0.0022
Damping parameter: 1.0000
Sample size: 113
Number of estimated parameters: 15
Number of degrees of freedom: 98
Information criteria:
      AIC      AICc       BIC      BICc
2007.0196 2011.9680 2047.9304 2059.6270
--------------------------------------------------------------------------------

In [23]:
%%R -i indices
for (series_id in indices) {
  cat("\n")
  cat("================================================================================\n")
  cat(sprintf("Series ID: %d\n", series_id))
  cat("================================================================================\n")
  
  temp_series <- m1_monthly[[series_id]]
  model_opt <- adam(temp_series, model = "ZZZ", lags = c(12), initial = 'optimal')
  print(model_opt)
  cat("--------------------------------------------------------------------------------\n")
}

================================================================================
Series ID: 50
================================================================================

Time elapsed: 4 seconds
Model estimated using adam() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 1008.73
Persistence vector g:
 alpha   beta  gamma
0.5477 0.0101 0.0012

Sample size: 104
Number of estimated parameters: 17
Number of degrees of freedom: 87
Information criteria:
     AIC     AICc      BIC     BICc
2051.459 2058.576 2096.414 2112.939

Forecast errors:
ME: -2386.61; MAE: 2694.911; RMSE: 4113.797
sCE: -126.034%; Asymmetry: -85.3%; sMAE: 7.906%; sMSE: 1.457%
MASE: 0.373; RMSSE: 0.445; rMAE: 0.144; rRMSE: 0.212
--------------------------------------------------------------------------------

================================================================================
Series ID: 52
================================================================================
Time elapsed: 1.05 seconds
Model estimated using adam() function: ETS(ANA)
With optimal initialisation
Distribution assumed in the model: Normal
Loss function type: likelihood; Loss function value: 521.8456
Persistence vector g:
 alpha  gamma
0.8996 0.0996

Sample size: 101
Number of estimated parameters: 15
Number of degrees of freedom: 86
Information criteria:
     AIC     AICc      BIC     BICc
1073.691 1079.338 1112.918 1125.949

Forecast errors:
ME: 87.861; MAE: 97.324; RMSE: 121.134
sCE: 54.686%; Asymmetry: 87.7%; sMAE: 3.365%; sMSE: 0.175%
MASE: 2.101; RMSSE: 2.019; rMAE: 0.758; rRMSE: 0.793
--------------------------------------------------------------------------------

================================================================================
Series ID: 63
================================================================================
Time elapsed: 1.17 seconds
Model estimated using adam() function: ETS(MMdN)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 490.5746
Persistence vector g:
 alpha   beta
0.9571 0.9076
Damping parameter: 0.641
Sample size: 102
Number of estimated parameters: 6
Number of degrees of freedom: 96
Information criteria:
      AIC      AICc       BIC      BICc
 993.1492  994.0335 1008.8991 1010.9438

Forecast errors:
ME: 182.886; MAE: 231.735; RMSE: 326.966
sCE: 767.245%; Asymmetry: 61%; sMAE: 54.01%; sMSE: 58.072%
MASE: 11.079; RMSSE: 8.544; rMAE: 0.999; rRMSE: 0.994
--------------------------------------------------------------------------------

================================================================================
Series ID: 65
================================================================================
Time elapsed: 4.7 seconds
Model estimated using adam() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 1015.153
Persistence vector g:
 alpha   beta  gamma
0.5272 0.0175 0.0010

Sample size: 126
Number of estimated parameters: 17
Number of degrees of freedom: 109
Information criteria:
     AIC     AICc      BIC     BICc
2064.306 2069.972 2112.523 2126.225

Forecast errors:
ME: 4854.267; MAE: 4854.267; RMSE: 5337.055
sCE: 1104.742%; Asymmetry: 100%; sMAE: 61.375%; sMSE: 45.534%
MASE: 4.193; RMSSE: 3.118; rMAE: 1.216; rRMSE: 1.213
--------------------------------------------------------------------------------

================================================================================
Series ID: 66
================================================================================
Time elapsed: 5.43 seconds
Model estimated using adam() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 778.514
Persistence vector g:
 alpha   beta  gamma
0.3822 0.0130 0.0003

Sample size: 118
Number of estimated parameters: 17
Number of degrees of freedom: 101
Information criteria:
     AIC     AICc      BIC     BICc
1591.028 1597.148 1638.130 1652.728

Forecast errors:
ME: 126.552; MAE: 280.919; RMSE: 302.766
sCE: 29.557%; Asymmetry: 54.3%; sMAE: 3.645%; sMSE: 0.154%
MASE: 0.489; RMSSE: 0.392; rMAE: 0.485; rRMSE: 0.393
--------------------------------------------------------------------------------

================================================================================
Series ID: 81
================================================================================
Time elapsed: 1.89 seconds
Model estimated using adam() function: ETS(MNM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 960.3265
Persistence vector g:
 alpha  gamma
0.4599 0.0016

Sample size: 124
Number of estimated parameters: 15
Number of degrees of freedom: 109
Information criteria:
     AIC     AICc      BIC     BICc
1950.653 1955.098 1992.957 2003.669

Forecast errors:
ME: 724.947; MAE: 933.369; RMSE: 1101.692
sCE: 204.775%; Asymmetry: 76.5%; sMAE: 14.647%; sMSE: 2.989%
MASE: 0.727; RMSSE: 0.592; rMAE: 0.566; rRMSE: 0.587
--------------------------------------------------------------------------------

================================================================================
Series ID: 84
================================================================================
Time elapsed: 4.19 seconds
Model estimated using adam() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 826.4449
Persistence vector g:
 alpha   beta  gamma
0.3786 0.0188 0.0010

Sample size: 110
Number of estimated parameters: 17
Number of degrees of freedom: 93
Information criteria:
     AIC     AICc      BIC     BICc
1686.890 1693.542 1732.798 1748.432

Forecast errors:
ME: 757.656; MAE: 826.425; RMSE: 1006.702
sCE: 71.012%; Asymmetry: 86.6%; sMAE: 4.303%; sMSE: 0.275%
MASE: 0.587; RMSSE: 0.534; rMAE: 0.485; rRMSE: 0.455
--------------------------------------------------------------------------------

================================================================================
Series ID: 89
================================================================================
Time elapsed: 5.31 seconds
Model estimated using adam() function: ETS(MAM)
With optimal initialisation
Distribution assumed in the model: Gamma
Loss function type: likelihood; Loss function value: 985.9644
Persistence vector g:
 alpha   beta  gamma
0.2890 0.0002 0.0010

Sample size: 113
Number of estimated parameters: 17
Number of degrees of freedom: 96
Information criteria:
     AIC     AICc      BIC     BICc
2005.929 2012.371 2052.294 2067.521

Forecast errors:
ME: -5086.776; MAE: 5824.63; RMSE: 6266.56
sCE: -941.617%; Asymmetry: -88.7%; sMAE: 59.9%; sMSE: 41.531%
MASE: 2.937; RMSSE: 2.367; rMAE: 0.812; rRMSE: 0.815
--------------------------------------------------------------------------------